
.cards {
  display: grid;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 -5px;
}

.card {
  margin: 1rem auto;
  height: 130px;
  border-radius: 0.5rem;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card img {
  width: inherit;
  height: 130px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.card .title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}


.cardZ {
  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 5px 5px 5px red;
  cursor: pointer;
  transition: 0.2s;
  background-color: #8f64f3b6;
}

.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 5px 5px 5px blue;
}


.cardZ img {
  display: block;
  width: 80%;
  height: 130px;
  object-fit: cover;
  margin: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}


.cardZ span {
	font-weight: 600;
	color: blue;
	text-align: center;
	display: block;
	padding-top: 10px;
	font-size: 16px;
}

.cardZ .info {
	font-weight: 400;
	color: white;
	display: block;
	text-align: center;
	padding-top: 3px;
	font-size: 12px;
}
.cardsE {
	max-width: 1200px;
	display: grid;
	gap: 1rem;
	margin: 0 -5px;
  }

.cardsZ:after {
	content: "";
	display: grid;
	clear: left;
  }
 

@media (min-width: 100Px) and (max-width: 480px) {
	.cards { grid-template-columns: repeat(2, 1fr); 
	display: grid;
	margin-bottom: 20px;
	}
  }


  @media(min-width: 481Px) and (max-width: 1024px) {
	.cards { grid-template-columns: repeat(6, 1fr); 
	display: grid;
	margin-bottom: 20px;
	}
  }

  @media (min-width: 1025px) {
	.cards { grid-template-columns: repeat(6, 1fr); 
	display: grid;
	margin-bottom: 20px;
	}
  }