.card {
  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 5px 5px 5px red;
  cursor: pointer;
  transition: 0.2s;
  background-color: #8f64f3b6;
}

.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 5px 5px 5px blue;
}


.card img {
  display: block;
  width: 80%;
  height: 100px;
  object-fit: cover;
  margin: auto;
  margin-top: 0.3rem;
}


.card span {
	font-weight: 600;
	color: blue;
	text-align: center;
	display: block;
	padding-top: 10px;
	font-size: 16px;
}

.card .info {
	font-weight: 400;
	color: white;
	display: block;
	text-align: center;
	padding-top: 3px;
	font-size: 12px;
}
.cards {
	max-width: 1200px;
	display: grid;
	gap: 1rem;
	margin: 0 -5px;
  }

.cards:after {
	content: "";
	display: grid;
	clear: left;
  }
 

@media (min-width: 100Px) and (max-width: 480px) {
	.cards { grid-template-columns: repeat(2, 1fr); 
	display: grid;
	margin-bottom: 20px;
	}
  }


  @media(min-width: 481Px) and (max-width: 1024px) {
	.cards { grid-template-columns: repeat(3, 1fr); 
	display: grid;
	margin-bottom: 20px;
	}
  }

  @media (min-width: 1025px) {
	.cards { grid-template-columns: repeat(5, 1fr); 
	display: grid;
	margin-bottom: 20px;
	}
  }